{{#hh-paper-card dataCardId=path.id class="md-whiteframe-2dp" as |card|}}
  <div data-path-image="{{path.id}}"
       class="md-card-image md-card-bg-image"
       style="{{safestring-bgimage path.image}}"></div>

  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}{{path.name}}{{/text.headline}}
      {{#text.subhead}}{{path.info}}{{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
{{/hh-paper-card}}
