{{#paper-card class="md-whiteframe-2dp" as |card|}}
  {{#card.header as |header|}}
    {{#header.text as |text|}}
      {{#text.title class="primary-color"}}{{place.name}}{{/text.title}}
      {{#text.subhead}}{{place.info}}{{/text.subhead}}
    {{/header.text}}
  {{/card.header}}

  <div class="md-card-image md-card-bg-image" style="{{safestring-bgimage place.image}}"></div>
{{/paper-card}}

