{{#hh-paper-toolbar tall=tall class="paper-toolbar__main md-whiteframe-5dp"}}
  {{yield}}
  {{#if showLogo}}
    <div class="layout-row layout-align-center-center flex">
      <img data-toolbar-logo="image" src="/images/icons/android-chrome-192x192.png" alt="" class="animated-content">
      <h2 class="logo">hacker-hikes</h2>
    </div>
  {{/if}}
{{/hh-paper-toolbar}}
