{{#paper-toolbar tall=tall class="md-whiteframe-5dp"}}
  {{yield}}
  {{#if showLogo}}
    <div class="layout-row layout-align-center-center flex">
      <img src="/images/icons/android-chrome-192x192.png" alt="">
      <h2 class="logo">hacker-hikes</h2>
    </div>
  {{/if}}
{{/paper-toolbar}}
