body, md-content.md-default-theme{
  background-color: $base-background-color;
  color: $base-color;
  line-height: 20px;
  font-size: 14px;
}

body > .ember-view {
  flex-direction: row;
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
}

body {
  max-width: 100%;
  max-height: 100%;
  flex-direction: row;
  flex: 1;
  display: flex;
}

body, html {
  height: 100%;
  color: rgba(0,0,0,.87);
  background: #fff;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > .ember-view > .liquid-container > .liquid-child {
  display: flex;
}

.liquid-container {
  height: 100%;
  width: 100%;
}

.liquid-child {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
}

.liquid-container > .animated-content {
  z-index: 10;
}

a {
  text-decoration: none;
}

.page-title {
  margin: 15px 11px 0;
  font-size: 20px;
  color: $primary-font-color;
}


.primary-color-light {
  color: color($primary, '50')
}

.md-card-bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  height: 200px;
}

.height-100 {
  height: 100%;
}

.path-sub-toolbar {
  height: 50px;
}

.path-sub-toolbar__title {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}

.dl-horizontal {
  display: inline-block;

  dt {
    float: left;
    width: 70px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: color($color-grey, '700');
  }

  dd {
    margin-left: 70px;
    margin-bottom: 0;
    font-weight: bold;
  }
}

.md-subhead {
  line-height: 16px;
  margin-top: 2px;
}

@media (max-width: 599px) {
  .card-map__card {
    // hack to fix on iPhone
    display: block;
  }
}

md-toolbar img {
  margin-right: 16px;
  width: 50px;
}

md-toolbar .logo {
  font-family: 'Space Mono', monospace;
  display: inline-block;
}

md-toolbar.md-tall {
  min-height: initial;
  min-width: initial;
}

// .liquid-container > md-card {
//   md-card-header, md-card-content, md-card-title {
//     visibility: hidden;
//   }
// }
