& {
  color: $base-color;
}

.md-card-image {
  @media (max-width: 599px) {
    height: 150px;
  }
}

md-card md-card-title {
  padding: 10px 16px;
}

.md-headline {
  font-size: 18px;
  font-weight: normal;
}

md-card md-card-title md-card-title-text .md-subhead {
  padding-top: 0;
}
