{{#site-container}}
  {{hh-toolbar tall=true showLogo=true}}

  {{#paper-content scroll-y=true class="flex"}}
    <h2 class="page-title">List of trails</h2>

    <div class="layout-row flex layout-wrap">
      {{#each model as |path|}}

        {{!-- Dont show paths that are empty --}}
        {{#unless path.isEmpty}}

          {{#hh-card as |card|}}
            {{#link-to "path" path class="flex-xs-100 flex-sm-33 flex-md-25 flex-xl-20 flex-20"}}
              {{card.path path=path}}
            {{/link-to}}
          {{/hh-card}}

        {{/unless}}
      {{/each}}
    </div>


  {{/paper-content}}
{{/site-container}}